$primary-color: #0278ae;
$secondary-color: green;
$danger-color: #ff414d;
$green: #00b140;
$mt-1: 5px;
$mt-2: 10px;
$mt-3: 15px;
$ml-1: 5px;
$ml-2: 10px;
$ml-3: 15px;
$mb-1: 5px;
$mb-2: 10px;
$mb-3: 15px;

@mixin flexCenter($direction, $verticalAlign, $horizontalAlign) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: $verticalAlign;
      -ms-flex-pack: $verticalAlign;
          justify-content: $verticalAlign;
  -webkit-box-align: $horizontalAlign;
      -ms-flex-align: $horizontalAlign;
          align-items: $horizontalAlign;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}
@mixin text($fontSize, $fontWieght) {
  font-size: $fontSize;
  font-weight: $fontWieght;
}
