$primary-color: #0278ae;
$secondary-color: green;
$green : #00b140;
$mt-1 : 5px;
$mt-2 : 10px;
$ml-1 : 5px;
$ml-2 : 10px;

@mixin flexCenter($direction,$verticalAlign,$horizontalAlign) {
    display: flex;
    justify-content: $verticalAlign;
    align-items: $horizontalAlign;
    flex-direction: $direction;
}
@mixin  text($fontSize,$fontWieght) {
    font-size: $fontSize;
    font-weight: $fontWieght;
}