@import "./theme";

.header {
  background-color: $primary-color;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  @include flexCenter(row, center, center);
  .label {
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: center;
  }
}
.container {
  @include flexCenter(column, space-evenly, center);
  margin-top: 60px;
  width: 100%;
  .card {
    width: 90%;
    height: 100px;
    border-radius: 4px;
    margin-top: $mt-3;
    border: none;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#28abb9+10,0278ae+97 */
    background: #28abb9; /* Old browsers */
    background: -moz-linear-gradient(
      -45deg,
      #28abb9 10%,
      #0278ae 97%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      -45deg,
      #28abb9 10%,
      #0278ae 97%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      135deg,
      #28abb9 10%,
      #0278ae 97%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28abb9', endColorstr='#0278ae',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    @include flexCenter(row, center, center);

    .icon {
      height: 40px;
      width: 40px;
      margin-right: 8px;
    }
    .cardHeading {
      font-size: 26px;
      font-weight: 600;
      color: white;
    }
  }
}
