@import "./theme";

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772ff;
$color-form-highlight: #eeeeee;

.header {
  background-color: $primary-color;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  @include flexCenter(row, center, center);
  .backButton {
    background-color: $primary-color;
    border-radius: 30px;
    padding: 8px;
    border: none;
    float: left;
    position: absolute;
    left: 20px;
    .backIcon {
      width: 20px;
      height: auto;
      filter: invert(100%) sepia(0%) saturate(7440%) hue-rotate(297deg)
        brightness(111%) contrast(114%);
    }
  }
  .editButton {
    background-color: $primary-color;
    border-radius: 30px;
    padding: 8px;
    border: none;
    position: relative;
    top: 2;
    right: 3;
    .editIcon {
      width: 20px;
      height: auto;
    }
  }

  .label {
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: center;
  }
}
.loaderwraper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  @include flexCenter(column, none, center);
  .productImage {
    width: 90%;
    height: 400px;
    margin-top: 70px;
    object-fit: contain;
    object-position: center;
  }
  .carousel {
    margin-top: 70px;
    width: 95%;
    height: 500px;
  }
  .details {
    @include flexCenter(column, none, flex-start);
    width: 90%;
    .cod {
      @include text(30px, 500);
      margin-top: $mt-3;
    }
    .price {
      @include text(24px, 500);
      margin-top: $mt-1;
      color: $green;
    }
    .fabric {
      @include text(24px, 500);
      margin-top: $mt-1;
      color: black;
      margin-bottom: $mb-2;
    }
    .resellerPrice {
      @include text(24px, 500);
      margin-top: $mt-1;
      color: black;
    }
    .stock {
      @include text(22px, 400);
      margin-top: $mt-1;
    }
    .badgePrimary {
      background-color: #f56a79;
      width: auto;
      height: auto;
      padding: 8px 20px;
      color: white;
      font-weight: 600;
      font-size: 15px;
      border-radius: 6px;
      display: inline;
    }
    .btnWtsp {
      width: auto;
      height: auto;
      padding: 12px 20px;
      color: white;
      font-weight: 400;
      font-size: 15px;
      border-radius: 3px;
      border: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#87e0fd+0,00bc48+0,00b140+100 */
      background: #87e0fd; /* Old browsers */
      background: -moz-linear-gradient(
        -45deg,
        #87e0fd 0%,
        #00bc48 0%,
        #00b140 100%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        -45deg,
        #87e0fd 0%,
        #00bc48 0%,
        #00b140 100%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        135deg,
        #87e0fd 0%,
        #00bc48 0%,
        #00b140 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#00b140',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    .btnInstagram {
      width: auto;
      height: auto;
      padding: 12px 20px;
      color: white;
      font-weight: 400;
      font-size: 15px;
      border-radius: 3px;
      border: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c13584+0,e1306c+47,fd1d1d+100 */
      background: #c13584; /* Old browsers */
      background: -moz-linear-gradient(
        -45deg,
        #c13584 0%,
        #e1306c 47%,
        #fd1d1d 100%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        -45deg,
        #c13584 0%,
        #e1306c 47%,
        #fd1d1d 100%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        135deg,
        #c13584 0%,
        #e1306c 47%,
        #fd1d1d 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c13584', endColorstr='#fd1d1d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    div {
      width: 100%;
      .table {
        width: 100%;
        border: 1px solid $color-form-highlight;
      }
      .tableHeader {
        display: flex;
        width: 100%;
        background: $primary-color;
        padding: ($half-spacing-unit * 1.5) 0;
      }
      .tableRow {
        display: flex;
        width: 100%;
        padding: ($half-spacing-unit * 1.5) 0;
        background: $color-form-highlight;
      }
      .tableData {
        flex: 1 1 20%;
        text-align: center;
      }
      .tableText {
        font-size: 18px;
        text-align: center;
      }
      .headerItem {
        flex: 1 1 20%;
        text-align: center;
      }
      .tableContent {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      .headerText {
        color: white;
        font-size: 18px;
        font-weight: 500;
        position: relative;
        display: inline-block;
        padding-left: $base-spacing-unit;
        padding-right: $base-spacing-unit;
      }
    }
    .size {
      @include text(22px, 400);
      margin-top: $mt-1;
    }
    .pantOrTop {
      width: 100%;
      font-size: 24px;
      background-color: gray;
      border: none;
      color: white;
      padding: 10px;
      margin-top: 10px;
      text-align: left;
      cursor: pointer;
    }
  }
}
@media only screen and (min-width: 768px) {
  .container {
    @include flexCenter(column, none, center);
    .productImage {
      width: 40%;
      height: 400px;
      margin-top: 70px;
    }
  }
}
