@import "./theme";

.loaderwraper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  background-color: $primary-color;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  @include flexCenter(row, center, center);
  .backButton {
    background-color: $primary-color;
    border-radius: 30px;
    padding: 8px;
    border: none;
    float: left;
    position: absolute;
    left: 20px;
    .backIcon {
      width: 20px;
      height: auto;
      filter: invert(100%) sepia(0%) saturate(7440%) hue-rotate(297deg)
        brightness(111%) contrast(114%);
    }
  }
  .label {
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: center;
  }
}
.container {
  @include flexCenter(column, none, center);
  margin-top: 60px;
  width: 100%;
  .image {
    width: 90%;
    height: 350px;
    margin-top: 10px;
    object-fit: contain;
    object-position: center;
  }
  label {
    margin-left: 10px;
    font-size: 20px;
    text-align: start;
    align-content: flex-start;
    width: 90%;
    margin-top: 10px;
    font-size: 18px;
  }
  input {
    border: solid 1px black;
    margin-top: 10px;
    width: 80%;
    padding: 13px;
    font-size: 18px;
    font-weight: 500;
  }
  input[type="file"] {
    display: none;
  }
  .customFileUpload {
    background-color: $primary-color;
    color: white;
    font-weight: 500;
    width: 83%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btnPrimary {
    background-color: $primary-color;
    padding: 18px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    width: 90%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .btnDanger {
    background-color: $danger-color;
    padding: 18px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .dropdown {
    width: 88%;
    padding: 13px;
    font-size: 18px;
    margin-top: $mt-3;
  }
  .productSizeContainer {
    color: black;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: black;
    width: 90%;
    .sizeItem {
      width: 30%;
    }
    .sizeField {
      width: 80%;
      color: black;
      margin-left: 10px;
    }
    label {
      width: 20px !important;
      font-size: 18px;
    }
    .carousel {
      margin-top: 60px;
      height: 200px;
    }
  }
  .validationError {
    font-size: 16px;
    font-weight: 400;
    color: red;
    width: 88%;
    margin-top: $mt-2;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    .image {
      width: 50%;
      height: 550px;
    }
    .customFileUpload {
      width: 50%;
    }
    .btnPrimary {
      width: 50%;
    }
    .btnDanger {
      width: 50%;
    }
    input {
      width: 50%;
    }
    label {
      width: 54%;
    }
    .dropdown {
      width: 52%;
    }
    .productSizeContainer {
      width: 55%;
      .sizeField {
        margin-left: 3px;
      }
    }
  }
}
