@import "./theme";

.header {
  @include flexCenter(column, center, center);
  position: sticky;
  top: 0;
  background-color: $primary-color;
  height: auto;
  width: 100%;
  min-height: 150px;
  .btnHome {
    background-color: yellow;
    padding: 10px 13px;
    font-size: 16px;
    border: none;
    align-self: flex-end;
    margin-right: 6%;
    margin-bottom: 5px;
    margin-top: 8px;
  }
  .btnBack {
    background-color: white;
    color: black;
    padding: 10px 13px;
    font-size: 16px;
    border: none;
    align-self: flex-end;
    margin-right: 6%;
    margin-bottom: 5px;
    margin-top: 8px;
  }
  .search {
    width: 80%;
    padding: 14px;
    font-size: 17px;
  }
}
.loaderwraper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  @include flexCenter(column, none, center);
  height: 100vh;
  margin-top: 10px;
  .btnFloat {
    /* padding: 18px 18px; */
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: $primary-color;
    margin-right: 20px;
    margin-bottom: 30px;
    border: none;
    color: white;
    font-size: 42px;
    font-weight: 400;
  }
  .link {
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
    @include flexCenter(row, none, center);
    flex-shrink: 0;
  }
  .dropdown {
    width: 88%;
    padding: 13px;
    font-size: 18px;
    margin-top: $mt-3;
  }
  .card {
    @include flexCenter(row, none, center);
    height: 115px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 95%;
    margin-top: $mt-2;
    flex-shrink: 0;
    .thumbnailImage {
      width: 100px;
      height: 100px;
      padding: 10px;
      object-fit: contain;
      object-position: center;
    }
    .details {
      @include flexCenter(column, none, none);
      height: 100%;
      width: 100%;
      .cod {
        @include text(20px, 300);
        margin-top: $mt-2;
        margin-left: $ml-1 + 10px;
      }
      .price {
        @include text(20px, 500);
        margin-top: $mt-1;
        margin-left: $ml-1 + 10px;
      }
      .InStock {
        @include text(16px, 500);
        margin-top: $mt-1;
        margin-left: $ml-1 + 10px;
        color: $green;
      }
      .OutOfStock {
        @include text(16px, 500);
        margin-top: $mt-1;
        margin-left: $ml-1 + 10px;
        color: red;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .container {
    .card {
      width: 80%;
    }
  }
}
